.chat-room {
  display: flex;
  height: 100vh;
  &__chat-mates {
    display: inline-block;
    margin-top: -7rem;
    // margin-top: -6rem;
    z-index: 1150;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  &__chat-in-box {
    flex: 1;
  }
}
