.home {
  font-size: 2.4rem;
  background-color: var(--color-grey-dark-4);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    &-logo {
      color: var(--color-primary);
    }

    &-nav {
      ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 1rem;
        }
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;

      &-text {
        p {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;

    &-text {
      &-image {
        img {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    text-align: center;
  }
}
