.header {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--color-grey-dark-3);
  color: var(--color-grey-light-1);
  padding: 1.2rem 4.8rem;
  position: relative;
  @media screen and (min-width: 1050px) {
    padding: 1.2rem 6.4rem;
  }
  @media screen and (max-width: 600px) {
    padding: 1.2rem 3.2rem;
  }

  /* CHATROOM ROUTE HEADER STYLES START */
  &__chat-mate {
    display: flex;
    align-items: center;
    position: absolute;
    left: 4.8rem;
    @media screen and (min-width: 1050px) {
      left: 6.4rem;
    }
    @media screen and (max-width: 600px) {
      left: 3.2rem;
    }
    @media screen and (max-width: 400px) {
      left: 1.6rem;
    }
    @media screen and (max-width: 300px) {
      left: 0.8rem;
    }
    &__nav {
      &__link {
        text-decoration: none;
        color: var(--color-grey-light-1);
        &--icon {
          margin-right: 0.8rem;
          @media screen and (max-width: 300px) {
            margin-right: 0.4rem;
          }
        }
      }
    }
    &__data {
      display: flex;
      align-items: center;
      font-weight: bold;
      // &-image--placeholder{
      // }
      &--name {
        margin-left: 0.8rem;
        margin-top: -0.8rem;
        @media screen and (max-width: 400px) {
          margin-left: 0.4rem;
        }
      }
    }
  }
  /* CHATROOM ROUTE HEADER STYLES END */

  /* OTHER ROUTES HEADER STYLES */
  &__logo {
    font-weight: bold;
    position: absolute;
    left: 4.8rem;
    margin-top: -0.8rem;
    @media screen and (min-width: 1050px) {
      left: 6.4rem;
    }
    @media screen and (max-width: 600px) {
      left: 3.2rem;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 3.2rem;
    @media screen and (max-width: 600px) {
      margin-right: 1.6rem;
    }
    // &--placeholder {
    // }
    &--username {
      margin-left: 0.8rem;
      margin-top: -0.8rem;
      @media screen and (max-width: 400px) {
        margin-left: 0.4rem;
        display: none;
      }
    }
  }
  &__sidebar-actions {
    &--open,
    &--close {
      @media screen and (max-width: 300px) {
        margin-left: 0.8rem;
      }
    }
  }
}
